/**
 * /assets/scss/partials/blocks/core/blocks-core-spacerss.scss
 *
 * Let's define our core spacer styles
 *
 *
 */

 /* ----- Core Block Group -------------------- */
.wp-block-group {

     &.alignfull {
          padding: 0 30px;

          .wp-block-group {

               &__inner-container {
                    max-width: $base-width;
                    margin: 0 auto;
               }
          }
     }
}
