/**
 * /assets/scss/partials/forms/forms-gravity-datepicker.scss
 *
 * Let's define styles for Gravity Forms datepicker
 *
 *
 */

.ginput_container_date {

     input {
          position: relative;
          background-image: url('../images/calendar-alt-light.svg');
          background-position: calc(100% - #{$form-padding}) 50%;
          background-repeat: no-repeat;
          background-size: 16px;
     }
}

body .ui-datepicker {
     margin-top: 2px;
     padding: 0;
     border-color: #c9f0f5;
     background-color: $white;
     width: 256px;
     border-radius: 7px 7px 0 0;
     overflow: hidden;
     background-color: #fafafa;

     &-trigger {
          margin: 0 0 0 5px;
          vertical-align: text-top;
     }

     &-header {
          background-color: $form-calendar-base-color;
          background-image: none;
          border-radius: 0;
     }

     &-title {
          margin: 0 25px;
          display: flex;
          width: calc(100% - 50px);
          padding: 10px 0;
          justify-content: center;
     }

     &-prev {
          background-color: transparent;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAMCAYAAACulacQAAAAUklEQVQYlXWPwQnAMAwDj9IBOlpH8CjdJLNksuujFIJjC/w6WUioFBcqJ7sGEAD5Y/hpqLRghRv4YQlUjqXI3Kql2MixraGbEhVcDXcFUR/1egEHNuTBpFW0NgAAAABJRU5ErkJggg==') !important;
          height: 12px;
          width: 7px;
          margin: 14px 12px;
          display: inline-block;
          left: 0;
          top: 0;
          position: absolute;
          cursor: pointer;

          span {
               display: none;
          }
     }

     &-next {
          background-color: transparent;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAYAAABfnvydAAAAVUlEQVQYlXWQ0Q3AIAhEL07gKI7kKN2kI3Wk1w9to3KQEELucQEECOizhhTQGHFnwOdgobWx0GkZILfYBhXl0STVbPoBarbkL7ozN/F8VBBXh8uJgF5r2hrI4GHUkAAAAABJRU5ErkJggg==') !important;
          height: 12px;
          width: 8px;
          margin: 14px 12px;
          display: inline-block;
          right: 0;
          top: 0;
          position: absolute;
          text-align: center;
          cursor: pointer;

          span {
               display: none;
          }
     }

     &-month {
          border-radius: 2px;
          background-color: #3985a0;
          width: 110px;
          height: 22px;
          font-family: Arial;
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          text-align: left;
          border: none;
          margin-right: 17px;
          vertical-align: text-top;
          padding: 0;
     }

     &-year {
          border-radius: 2px;
          background-color: #3985a0;
          width: 61px;
          height: 22px;
          border: none;
          font-family: Arial;
          color: #fff;
          font-size: 14px;
          font-weight: 600;
          text-align: left;
          vertical-align: text-top;
     }

     &-month,
     &-year {

          option {
               color: #3985a0 !important;
               background-color: #fff !important;
               font-family: Arial !important;
               font-size: 14px !important;
               font-weight: 600;

               &[selected] {
                    background-color: #e5edf0 !important;
               }
          }
     }

     .ui-state-hover {
          border: 0;
     }

     .ui-state-default {
          border-radius: 2px;
          width: 26px;
          height: 26px;
          line-height: 26px;
          text-align: center;
          font-family: Arial, sans-serif;
          color: #707070;
          font-size: 13px;
          font-weight: 400;
          display: inline-block;

          &:hover {
               text-decoration: none;
               background-color: darken( $form-calendar-base-color, 10% );
               color: $white;
          }

          &.ui-state-highlight {
               background-color: $form-calendar-highlight-color;
               color: $white;
          }

          &.ui-state-active {
               background-color: darken( $form-calendar-base-color, 25% );
               color: $white;
          }

          &.ui-datepicker-current {
               float: none;
               font-family: Arial, Arial, sans-serif;
               color: #fff;
               font-size: 14px;
               font-weight: 400;
               text-align: left;
               border-width: 0;
               border: none;
               vertical-align: top;
               margin: 0;
               background-color: transparent;
          }
     }

     &-close {
          display: none;
     }

     &-buttonpane.ui-widget-content {
         text-align: center;
         background-color: $form-calendar-base-color;
         margin: 0;
         height: 28px;
         padding: 0;
     }

     table {
          width: 256px;
          table-layout: fixed;
          margin: 0;

          thead {
               background-color: #f5f5f5;

               tr {

                    th {
                         font-family: Arial, sans-serif;
                         color: #549fa8;
                         font-size: 12px;
                         font-weight: 400;
                         padding: 0.45em 0.3em !important;
                         text-align: center;
                         font-size: 10px;
                    }
               }
          }

          td {
               width: 33px;
               text-align: center;
               padding: 5px;
               vertical-align: top;
          }
     }
}
