/**
 * /assets/scss/partials/layouts/interiors.scss
 *
 * Let's define our interior wrapper styles
 *
 *
 */

.site-inner {
     width: 100%;
     overflow: hidden;
     padding: 0 $base-margin;

     .content {
          display: flex;
          flex-wrap: wrap;
          padding: 75px 0;
          width: 100%;

          > article {
               width: 100%;
          }
     }
}

.wrap {
     width: 100%;
     max-width: $base-width;
     margin: 0 auto;
}
