/**
 * /assets/scss/partials/layouts/interios.scss
 *
 * Let's define our interior wrapper styles
 *
 *
 */

.site-inner {
     width: 100%;
     overflow: hidden;
     padding: 0 $block-margin;

     .content {
          float: left;
          padding: 75px 0;
          width: $content-width;
     }

     .sidebar {
          float: right;
          padding: 75px 0;
          width: $sidebar-width;
     }

}

.sidebar-content .site-inner .wrap .content {
     float: right;
}

.sidebar-content .site-inner .wrap .sidebar-primary {
     float: left;
}

.full-width-content .content {
     width: 100%;
}

.wrap {
     width: 100%;
     max-width: $base-width;
     margin: 0 auto;
}
