/**
 * /assets/scss/partials/blocks/blocks-base.scss
 *
 * Let's define our basic block styles
 *
 * - Imports
 * - Alignwide/Alignfull
 * - Editor Title Styles
 * - Color Palette
 * - Font Sizes
 *
 */

/* ----- Import Partials -------------------- */
@import 'core/blocks-core-buttons';
@import 'core/blocks-core-columns';
@import 'core/blocks-core-cover';
@import 'core/blocks-core-gallery';
@import 'core/blocks-core-group';
@import 'core/blocks-core-images';
@import 'core/blocks-core-lists';
@import 'core/blocks-core-media-text';
@import 'core/blocks-core-paragraphs';
@import 'core/blocks-core-separators';
@import 'core/blocks-core-spacer';

/* ----- Alignwide/Alignfull -------------------- */
.entry-content > * {
     max-width: 100%;

     &.alignwide {
          margin: 0 calc(25% - 25vw);
          max-width: 100vw;
          width: auto;
     }

     &.alignfull {
          margin: 0 calc(50% - 50vw);
          max-width: 100vw;
          width: 100vw;
     }
}

.content-sidebar .entry-content > *,
.sidebar-content .entry-content > * {

     &.alignwide,
     &.alignfull {
          margin: $block-margin 0;
          max-width: 100%;
          width: auto;
     }

}

.wp-block {
     max-width: $base-width;

     &[data-align="wide"] {
     	max-width: none;
     }

     &[data-align="full"] {
     	max-width: none;
     }
}

/* ----- Editor Title Styles -------------------- */
.editor-post-title__block.wp-block {
	max-width: $base-width;

	.editor-post-title__input {
          font-family: $font-stack-main;
	}
}

.acf-block-component .block-wrapper {
     padding: 100px 43px;
}

/* ----- Front End Colors to Match Color Picker in Block Editor -------------------- */
@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}
}
