/**
 * /assets/scss/partials/blocks/blocks-slideshow.scss
 *
 * Let's define our hero block styles
 *
 *
 */

.acf-slideshow-block {

     &__slide {
          height: 600px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
               display: block;
          }
     }
}
