/* ----- Team Member Block -------------------- */
.team-member {
     width: 100%;
     display: flex;

     &__headshot {
          width: 25%;

          img {
               border-radius: 100px;
               overflow: hidden;
          }
     }

     &__content {
          width: 75%;
          padding-left: 25px;
     }

     &--name {
          line-height: 26px;
          margin-bottom: 5px;
     }

     &--position {
          text-transform: uppercase;
          color: #999;
          font-size: 14px;
          letter-spacing: 0.5px;
          margin: 0 0 20px;
     }

     &--button {
          display: block;
          margin-top: 15px;
     }
}
