/* Admin CSS */
#adminmenu li.wp-menu-separator {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3); }

/* Admin ACF CSS */
/* ----- ACF Block Style Reset -------------------- */
body .is-edit,
.edit-post-sidebar {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 13px;
  line-height: 1.4em; }
  body .is-edit .acf-field input[type="text"],
  body .is-edit .acf-field input[type="password"],
  body .is-edit .acf-field input[type="number"],
  body .is-edit .acf-field input[type="search"],
  body .is-edit .acf-field input[type="email"],
  body .is-edit .acf-field input[type="url"],
  body .is-edit .acf-field textarea,
  body .is-edit .acf-field select,
  .edit-post-sidebar .acf-field input[type="text"],
  .edit-post-sidebar .acf-field input[type="password"],
  .edit-post-sidebar .acf-field input[type="number"],
  .edit-post-sidebar .acf-field input[type="search"],
  .edit-post-sidebar .acf-field input[type="email"],
  .edit-post-sidebar .acf-field input[type="url"],
  .edit-post-sidebar .acf-field textarea,
  .edit-post-sidebar .acf-field select {
    font-size: 14px;
    line-height: 1.4;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
    transition: 50ms border-color ease-in-out;
    border-radius: 0;
    border: 1px solid #ddd;
    color: #32373c; }
  body .is-edit .acf-field textarea.wp-editor-area,
  .edit-post-sidebar .acf-field textarea.wp-editor-area {
    box-shadow: none;
    border: none; }
  body .is-edit .acf-field input[type="checkbox"],
  body .is-edit .acf-field input[type="radio"],
  .edit-post-sidebar .acf-field input[type="checkbox"],
  .edit-post-sidebar .acf-field input[type="radio"] {
    border: 1px solid #b4b9be;
    color: #555;
    height: 16px;
    width: 16px;
    border-radius: 0; }
  body .is-edit .acf-field input[type="radio"],
  .edit-post-sidebar .acf-field input[type="radio"] {
    border-radius: 50%;
    padding: 1px !important; }
