html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template, [hidden] {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

/* ===== 0.0 NORMALIZE ===== */
/* ===== 1.0 UNIVERSAL ===== */
body,
html {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 10px; }

svg:not(:root) {
  overflow: hidden; }

img {
  border: none;
  max-width: 100%;
  height: auto; }

iframe {
  max-width: 100%; }

/* Set interior widget of all containers */
.site-container,
.site-inner,
.site-header,
.site-footer,
.footer-widgets {
  display: grid;
  grid-template-columns: auto 1000px auto;
  grid-template-rows: 1fr; }

.site-container {
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "header header header" "main main main" "footer-widgets footer-widgets footer-widgets" "footer footer footer";
  overflow: hidden;
  word-wrap: break-word; }

/* ----- 1.1 Box Sizing ----- */
html,
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

/* ----- 1.2 Typography ----- */
body,
p,
select,
textarea,
input {
  color: #333;
  font-family: 'Source Sans Pro', Arial, Helvetica, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-decoration: none; }

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

p,
address {
  margin-bottom: 2.5rem; }

a,
a:visited {
  color: #0066cc;
  background-color: transparent;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a[href^="tel"],
a[href^="tel"]:hover {
  text-decoration: none; }

ol,
ul {
  margin: 0 0 1.75em 1.25em;
  padding: 0; }

li > ul,
li > ol {
  margin-bottom: 0; }

dl {
  margin: 0 0 1.75em; }

dt {
  font-weight: 600; }

dd {
  margin: 0 0 1.75em; }

hr {
  border: 0;
  border-collapse: collapse;
  border-top: 1px solid #eee;
  clear: both;
  margin: 1em 0; }

b,
strong {
  font-weight: 700; }

em,
i {
  font-style: italic; }

blockquote {
  border: 0 solid #1a1a1a;
  border-left-width: 4px;
  color: #686868;
  font-size: 19px;
  font-size: 1.9rem;
  font-style: italic;
  line-height: 1rem;
  margin: 0 0 2.5rem;
  overflow: hidden;
  padding: 0 0 0 1.25em; }

blockquote > :last-child {
  margin-bottom: 0; }

blockquote p {
  font-size: 2rem; }

blockquote cite {
  color: #1a1a1a;
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.75;
  font-style: normal;
  margin-top: 3px; }

blockquote cite:before,
blockquote small:before {
  content: "\2014\00a0"; }

code {
  background-color: #d1d1d1;
  padding: 0.125em 0.25em; }

mark, ins {
  background: #0066cc;
  color: #fff;
  padding: 0.125em 0.25em;
  text-decoration: none; }

pre {
  border: 1px solid #d1d1d1;
  line-height: 1.3125;
  margin: 0 0 1.75em;
  max-width: 100%;
  overflow: auto;
  padding: 1.75em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* ----- 1.3 Headings ----- */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0 0 2.5rem 0;
  line-height: 1.2;
  font-weight: 600; }

h1 {
  font-size: 32px;
  font-size: 3.2rem; }

h2 {
  font-size: 26px;
  font-size: 2.6rem; }

h3 {
  font-size: 22px;
  font-size: 2.2rem; }

h4 {
  font-size: 18px;
  font-size: 1.8rem; }

h5 {
  font-size: 16px;
  font-size: 1.6rem; }

h6 {
  font-size: 12px;
  font-size: 1.2rem; }

/* ---------- 1.4 Common Classes ---------- */
img.alignleft,
.wp-caption.alignleft {
  float: left;
  padding: 0 15px 15px 0; }

img.alignright,
.wp-caption.alignright {
  float: right;
  padding: 0 0 15px 15px; }

img.aligncenter,
.wp-caption.aligncenter {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.wp-caption.alignnone {
  max-width: 100%; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

/* ----- 1.5 Buttons ----- */
button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus {
  background: #0066cc;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.046875em;
  line-height: 1;
  padding: 0.84375em 0.875em 0.78125em;
  cursor: pointer; }

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #444; }

.widget_search input[type="submit"] {
  display: none; }

/* ----- 1.6 Tables ----- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px; }

table.striped tr:nth-of-type(odd) {
  background-color: #fafafa; }

th {
  border: 1px solid #ddd;
  padding: 15px 7px;
  position: relative;
  text-align: left; }

td {
  border: 1px solid #ddd;
  padding: 15px 7px;
  position: relative; }

/* ----- 1.7 Column Classes ----- */
/* Column Classes
* Generated using Bill Erickson's Column Class Generator
* Width: 1000px
* Gutter: 30px
* Link: http://www.billerickson.net/column-class-generator/
*/
/* ----- 1.8 Accessibility ----- */
.screen-reader-shortcut,
.screen-reader-text,
.screen-reader-text span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus {
  clip: auto !important;
  height: auto;
  width: auto;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 23px 14px;
  color: #333;
  background: #fff;
  z-index: 100000;
  /* Above WP toolbar. */
  text-decoration: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); }

.more-link {
  position: relative; }

.genesis-skip-link {
  margin: 0; }

.genesis-skip-link li {
  height: 0;
  width: 0;
  list-style: none; }

:focus {
  color: #333;
  outline: none; }

/* ---------- 1.9 Forms ---------- */
input {
  line-height: normal; }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: thin dotted;
  outline-offset: -4px; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
  background: #fff;
  border: 1px solid #d1d1d1;
  color: #686868;
  padding: 10px;
  width: 100%; }

input[type="date"]:focus,
input[type="time"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
  background-color: #fff;
  border-color: #007acc;
  color: #1a1a1a;
  outline: 0; }

.post-password-form {
  margin-bottom: 1.75em; }

.post-password-form label {
  color: #686868;
  display: block;
  font-family: sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  margin-bottom: 1.75em;
  text-transform: uppercase; }

.post-password-form input[type="password"] {
  margin-top: 0.4375em; }

.post-password-form > :last-child {
  margin-bottom: 0; }

.search-form {
  position: relative; }

input[type="search"].search-field {
  border-radius: 2px 0 0 2px;
  width: -webkit-calc(100% - 42px);
  width: calc(100% - 42px); }

.search-submit:before {
  content: "\f400";
  font-size: 24px;
  font-size: 2.4rem;
  left: 2px;
  line-height: 42px;
  position: relative;
  width: 40px; }

.search-submit {
  border-radius: 0 2px 2px 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 42px; }

/* ========== 2.0 HEADER ========== */
.site-header {
  grid-area: header;
  display: grid;
  grid-template-areas: "header-left header-middle header-right"; }

.site-header > .wrap {
  grid-area: header-middle;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "logo-area navigation-area"; }

.site-header__logo {
  grid-area: logo-area;
  display: flex;
  align-items: center; }

.site-header__logo img {
  max-height: 100px; }

/* ========== 3.0 NAVIGATION ========== */
nav.nav-primary {
  grid-area: navigation-area;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

nav ul.menu {
  display: block;
  margin: 0; }

nav ul.menu li {
  display: inline-block;
  position: relative; }

nav ul.menu li a {
  color: #555;
  display: inline-block;
  line-height: 1;
  padding: 20px 22px 20px 0; }

nav ul.menu li.menu-item-has-children:hover > ul.sub-menu {
  display: block; }

nav ul.menu ul.sub-menu {
  display: none;
  position: absolute;
  top: 58px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 0;
  z-index: 10; }

nav ul.menu ul.sub-menu li {
  width: 100%; }

nav ul.menu ul.sub-menu li a {
  white-space: nowrap;
  padding: 15px;
  font-size: 14px;
  font-size: 1.4rem;
  border-bottom: 1px solid #ddd;
  width: 100%; }

nav ul.menu ul.sub-menu li:last-child a {
  border-bottom: none; }

nav ul.menu ul.sub-menu li a:hover {
  background-color: #fafafa;
  text-decoration: none; }

/* ========== 4.0 FOOTER ========== */
.site-footer {
  grid-area: footer;
  grid-template-areas: "footer-left footer-middle footer-right";
  text-align: center;
  padding: 50px 25px; }

.site-footer > .wrap {
  grid-area: footer-middle;
  align-self: center; }

/* ---------- 4.1 Footer Widgets ---------- */
.footer-widgets {
  grid-area: footer-widgets;
  grid-template-areas: "footer-widgets-left footer-widgets-middle footer-widgets-right";
  padding: 50px 25px; }

.footer-widgets .wrap {
  grid-area: footer-widgets-middle;
  display: grid;
  grid-template-columns: 33% 33% 33%; }

/* ========== 5.0 INTERIOR ========== */
.site-inner {
  grid-area: main;
  grid-template-areas: "inner-left inner-middle inner-right";
  padding: 75px 25px; }

.site-inner > .wrap {
  grid-area: inner-middle;
  display: grid;
  grid-template-columns: calc(70% - 50px) 30%;
  grid-column-gap: 50px;
  grid-template-areas: "inner-content inner-aside"; }

.sidebar-content .site-inner > .wrap {
  grid-template-columns: auto 70%;
  grid-template-areas: "inner-aside inner-content"; }

.full-width-content .site-inner > .wrap {
  grid-template-columns: 100%;
  grid-template-areas: "inner-content"; }

.site-inner main.content {
  grid-area: inner-content; }

.site-inner aside.sidebar {
  grid-area: inner-aside; }

.site-inner aside.sidebar .widget {
  margin-bottom: 40px; }

.breadcrumb {
  background-color: #fff;
  padding: 1.5rem 3rem;
  border-bottom: 1px solid #eee; }

article.page {
  display: grid;
  margin-bottom: 0;
  grid-template-columns: 1fr;
  grid-template-areas: "entry-header" "entry-content"; }

article.page .entry-header {
  grid-area: entry-header; }

article.page .entry-content {
  grid-area: entry-content; }

/* ========== 6.0 BLOG ========== */
/* ---------- 6.1 Archive ---------- */
.archive-description {
  padding: 2.5rem 3rem 0; }

article.post {
  display: grid;
  margin-bottom: 0;
  border-top: 1px solid #eee;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "content" "footer"; }

article.post .entry-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "entry-header" "entry-meta";
  grid-area: header; }

article.post .entry-header .entry-title {
  grid-area: entry-header; }

article.post .entry-header .entry-meta {
  grid-area: entry-meta; }

article.post .entry-content {
  grid-area: content; }

article.post .entry-footer {
  grid-area: footer; }

.entry-footer p {
  margin-bottom: 0; }

.archive-pagination {
  border-top: 1px solid #eee;
  padding: 1.5rem 2.5rem; }

/* ---------- 6.2 Single ---------- */
.single article.post {
  border-top: none; }

/* ---------- 6.3 Comments ---------- */
#respond,
#comments {
  padding: 3rem;
  border-top: 1px solid #eee; }

ol.comment-list {
  margin: 0; }

ol.comment-list li.comment {
  list-style-type: none;
  margin-left: 0; }

li.comment > article {
  margin-bottom: 25px;
  position: relative; }

.comment article {
  border: 1px solid #eee;
  padding: 2rem; }

.comment-header {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  margin-bottom: 2rem; }

.comment-header a {
  border-bottom: none; }

.comment-author {
  margin: 0;
  display: flex; }

.comment .avatar {
  margin-right: 8px; }

.comment-author span[itemprop="name"] {
  align-self: flex-start;
  margin-right: 5px; }

a.comment-edit-link {
  position: absolute;
  right: 2rem;
  bottom: 2rem; }

.comment ul.children {
  position: relative;
  margin: 0 0 0 2rem; }

/* ========== 10.0 RESPONSIVE ========== */
@media (max-width: 1000px) {
  /* ----- Container ----- */
  .site-container {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "main" "footer"; }
  .site-container.active-sub-nav {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "sub-nav" "main" "footer"; }
  /* ----- Header ----- */
  .site-header {
    grid-template-columns: 1fr;
    grid-template-areas: "header-middle";
    padding: 0 15px; }
  /* ----- Navigation ----- */
  nav.nav-primary,
  nav.nav-secondary {
    grid-template-columns: 1fr;
    grid-template-areas: "nav-middle"; }
  nav.nav-secondary {
    grid-template-areas: "sub-nav-middle"; }
  /* ----- Footer ----- */
  .site-footer {
    grid-template-columns: 1fr;
    grid-template-areas: "footer-middle";
    padding: 0 15px; }
  /* ----- Interior ----- */
  .site-inner {
    padding: 0 15px;
    grid-template-columns: 7fr 3fr;
    grid-template-areas: "inner-content inner-aside"; }
  .site-inner main.content {
    margin: 15px 15px 15px 0; }
  .site-inner aside.sidebar {
    margin-top: 15px; }
  .site-inner article,
  .site-inner aside.sidebar .widget {
    margin-bottom: 15px; }
  .sidebar-content .site-inner {
    grid-template-columns: 3fr 7fr;
    grid-template-areas: "inner-aside inner-content"; }
  .sidebar-content .site-inner main.content {
    margin: 15px 0 15px 15px; }
  .full-width-content .site-inner {
    grid-template-columns: 1fr;
    grid-template-areas: "inner-content"; }
  .full-width-content .site-inner main.content {
    margin-right: 0; } }

@media (max-width: 800px) {
  /* ----- Header ----- */
  .header-widget-area {
    display: none; }
  /* ----- Navigation ----- */
  nav.nav-primary .wrap::before,
  nav.nav-secondary .wrap::before {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-size: 3rem;
    line-height: 60px;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f333";
    cursor: pointer; }
  nav.nav-secondary .wrap::before {
    line-height: 40px;
    font-size: 20px;
    font-size: 2rem;
    width: 20px;
    height: 20px; }
  nav.nav-primary ul.menu,
  nav.nav-secondary ul.menu {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    top: 60px;
    text-align: center;
    background-color: #fff;
    z-index: 10; }
  nav.nav-secondary ul.menu {
    top: 40px; }
  nav.nav-primary ul.menu li,
  nav.nav-secondary ul.menu li {
    width: 100%;
    border-bottom: 1px solid #eee; }
  /* ----- Interior ----- */
  .site-inner,
  .sidebar-content .site-inner {
    grid-template-columns: 1fr;
    grid-template-areas: "inner-content" "inner-aside"; }
  .site-inner main.content {
    margin-right: 0; }
  .sidebar-content .site-inner main.content {
    margin-left: 0; }
  .site-inner aside.sidebar {
    margin-top: 0; } }
