/**
 * /assets/scss/partials/blocks/blocks-separator.scss
 *
 * Let's define our separator block styles
 *
 *
 */
.acf-separator-block {
  display: flex;
  width: 100%;
  justify-content: flex-start; }
  .acf-separator-block.no-margin hr {
    margin: 0; }
  .acf-separator-block.center-align {
    justify-content: center; }
  .acf-separator-block.right-align {
    justify-content: flex-end; }
